body {
    width: 100%;
    min-width: 560px;
    min-width: 900px;
    background-color: #7b7b81;
}

#content, #contentP2 {
    width: 100%;
    height: 1424px;
    height: auto;
    height: 1484px;
    background-image: url(../IMAGES/issa3C.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    border: 3px ridge #548ec6;
}

#contentP2 {
    height: 1950px;
}

#contentTransparency, #contentTransparencyP2 {
    position:absolute;
    width: 100%;
    height: 1484px;
    background-color: #fff;
    opacity: 0.65;
}

#contentTransparencyP2 {
    height: 1950px;
}

#ncc {
    margin-top: 14px;
    padding-left: 100px;
    height: 50px;
    text-align: left;
    text-decoration: underline;
    font-family: "Poiret One", cursive;
    color: #000;
    font-size: 36px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0);
}

#contactBox {
    float: right;
    width: 265px;
    height: 60px;
    margin: 5px 50px 10px 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
}

.goto {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin: 9px 0 9px 10px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: cover;
}

#gotoFB {
    background-image: url(../IMAGES/fb_gray_icon.png);
}

#gotoLI {
    background-image: url(../IMAGES/li_gray_icon.png);
}

#gotoTW {
    background-image: url(../IMAGES/tw_gray_icon.png);
}

#gotoGH {
    background-image: url(../IMAGES/gh_gray_icon.jpg);
}

#gotoEM {
    background-image: url(../IMAGES/icon_emailC.png);
}

#trngHdr, #projHdr, #prevHdr {
    font-family: "Poiret One", cursive;
    text-decoration: underline;
    color: #000;
    font-size: 36px;
    font-weight: 900;
    padding: 0 30px 0 100px;
    background-color: rgba(255, 255, 255, 0);
}

#trngHdr {
    height: auto;
    margin-top: 5px;
    margin-bottom: 85px;
}

#projHdr {
    height: auto;
    margin-top: 5px;
    margin-bottom: 25px;
}

#projHdrContainer, #projHdrTxt {
    height: auto;
    /*margin-top: 5px;*/
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #000;
    font-size: 24px;
    padding: 0 30px 0 100px;
    background-color: rgba(255, 255, 255, 0);
}

#prevHdr {
    /*height: 80px;*/
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*#s1 {
    text-decoration: none !important;
}*/

#objective, #training, #priorInfo {
    text-align: left;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #c41c1c;
    color: #000;
    font-size: 24px;
    padding: 0 30px 0 100px;
    background-color: rgba(255, 255, 255, 0);
}

#objective {
    height: auto;
    margin-top: -15px;
}

#training {
    height: 40px;
    height: auto;
    margin-top: 15px;
}

#priorInfo {
    height: 80px;
    height: auto;
    margin-top: 55px;
    margin-bottom: 20px;
}

.projName {
    height: 25px;
    text-align: left;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #000;
    font-size: 28px;
    padding: 0 30px 0 100px;
    background-color: rgba(255, 255, 255, 0);
}

.projDesc {
    height: 80px;
    height: auto;
    text-align: left;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #000;
    font-size: 18px;
    padding: 0 30px 0 100px;
    background-color: rgba(255, 255, 255, 0);
}

.gap {
    visibility: hidden;
}

#goHome {
    height: 25px;
    text-align: center;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #000;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto 0 auto;
    padding-top: 20px;
}

.up1 {
    height: auto;
    margin-top: -65px;
}

.up2 {
    height: auto;
    margin-top: -10px;
}

#training {
    margin-top: 0;
}

#projBox {
    height: auto;
    margin-top: 25px;
    padding-right: 0px;
}

#box1 {
    height: 690px;
    border: 2px solid #000;
    background-color: #fff;
    /*background-image: url(../IMAGES/issa1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    padding-right: 0px;
}

#arrows {
    height: 30px;
    margin-top: -350px;
    background: none;
    z-index: 10;
}

.arrowLR {
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: #fff;
    /*background-repeat: no-repeat;
    background-position: center;*/
    background-size: cover;
    border: 3px ridge #4d3d3d;
    cursor: pointer;
}

#lftArrow {
    margin-left: 10px;
    background-image: url(../IMAGES/lftArrow.png);
    float: left;
}

#rtArrow {
    margin-right: 30px;
    background-image: url(../IMAGES/rtArrow.png);
    float: right;
}

.notShown {
    display: none;
}

.shown {
    display: block;
}