body {
    width: 100%;
    min-width: 320px;
    background-color: #7b7b81;
}

#contentP2, #contentTransparencyP2 {
    height: 4300px;
}

#ncc, #nccC, #nccA {
    font-size: 36px;
    padding-left: 25px;
}

#ncc, #nccA {
    font-size: 24px;
    height: auto;
    clear: left;
}

#nccC {
    height: auto;
}

#contactBox {
    width: 115px;
    height: 40px;
    margin: 15px 50px 0px 10px;
    border-radius: 10px;
    border: 2px solid #000;
    float: left;
}

.goto {
    width: 20px;
    height: 20px;
    margin: 9px 0 9px 6px;
    border-radius: 8px;
}

#objective, #training, #priorInfo {
    font-size: 16px;
    padding: 0 30px 0 25px;
}

#objective {
    margin-top: 0px;
}

#trngHdr, #projHdr, #prevHdr {
    font-size: 20px;
    padding: 0 30px 0 25px;
}

#projHdrContainer {
    /*width: auto;*/
    font-size: 30px;
    padding: 0 30px 0 25px;
}

#projHdrTxt {
    font-size: 16px;
    padding: 0 30px 0 25px;
}

.projName, .projName2, .projDesc {
    font-size: 20px;
    padding: 0 30px 0 25px;
}

.projDesc {
    font-size: 16px;
}

#projBox {
   height: 290px;
}

#box1 {
    height: 290px;
}

#frame1, #frame2, #frame3, #frame4, #frame5, #frame6, #frame7 {
   height: 286px;
}

#arrows {
    margin-top: -150px;
}

#projPage, #goHome, #callMe {
    font-size: 18px;
}