#ncc {
    width: 40%;
    margin: 15px 10px 10px 0;
    padding-left: 25px;
    font-size: 16px;
}

#contactBox {
    width: 141px;
    height: 40px;
    margin: 65px 50px 10px 50px;
    border-radius: 10px;
    border: 2px solid #000;
}

.goto {
    width: 20px;
    height: 20px;
    margin: 9px 0 9px 6px;
    border-radius: 8px;
}

#objective, #training, #priorInfo {
    font-size: 24px;
    padding: 0 30px 0 25px;
}

#trngHdr, #projHdr, #prevHdr {
    font-size: 30px;
    padding: 0 30px 0 25px;
}