body {
    width: 100%;
    min-width: 350px;
    background-color: #7b7b81;
}

#content {
    width: 100%;
    height: 850px;
    background-color: #04181c;
    border: 2px solid #04181c;
}

.navBox {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #e36a12;
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 20px;
    background-color: #04181c;
}

#box1 {
    height: 120px;
    background-color: #04181c;
}

#box2 {
    text-align: left;
    padding-left: 3px;
}

#myPhoto, #myLI, #myGH {
    height: 54px;
    /*border: 2px solid #f00;*/
    border-radius: 30px;
    margin-top: -18px;
}

#myPhoto {
    background-image: url(../IMAGES/ncc.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#myLI {
    background-image: url(../IMAGES/Linkedin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#myGH {
    background-image: url(../IMAGES/Octocat.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#box2, #box3, #box4, #box5, #box6 {
    border-top: 2px solid #ddd;
}

#box2, #box7 {
    border-left: 2px solid #ddd;
}

#box6, #box7 {
    border-right: 2px solid #ddd;
}

#box7 {
    border-bottom: 2px solid #ddd;
}

#box13 {
    height: 480px;
    background-color: #04181c;
    margin-top: 40px;
}

.projBox {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #e36a12;
    border: 1px solid #04181c; /*#ddd;*/
    border-radius: 10px;
    text-align: center;
    padding-top: 110px;
    background-color: #557c33;
}

#box14, #box15, #box16 {
    height: 240px;
    border-top: 2px solid #04181c; /*#ddd;*/
}

#box17, #box18, #box19 {
    height: 240px;
    border-bottom: 2px #04181c; /*#ddd;*/
}

#box14, #box17 {
    border-left: 2px solid #04181c; /*#ddd;*/
}

#box15, #box16, #box18, #box19 {
    float: left;
}

#box16, #box19 {
    clear: right;
    border-right: 2px solid #04181c; /*#ddd;*/
}

#box15 {
    background-image: url(../IMAGES/Myframe_snip2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#box16 {
    background-image: url(../IMAGES/Diner_snip2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#box17 {
    background-image: url(../IMAGES/Image_snip.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#box18 {
    background-image: url(../IMAGES/GoogleMap_snip.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#box19 {
    background-image: url(../IMAGES/MissileCommand_snip1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ftrBox {
    height: 25px;
    font-family: "Poiret One", cursive;
    font-size: 12px;
    font-style: italic;
    color: #e36a12;
    text-align: center;
    padding-top: 5px;
    background-color: #04181c;
}