body {
    width: 100%;
    min-width: 420px;
    background-color: #04181c;
    border: 2px solid #04181c;
    border-top: 0;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 850px;
    background-color: #04181c;
    border: 2px solid #04181c;
}

.navBox {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #e36a12;
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 20px;
    background-color: #04181c;
}

#box1 {
    height: auto;
    background-color: #04181c;
}

#box2 {
    text-align: left;
    padding-left: 0px;
}

#box3 {
    font-size: 36px;
    text-align: left;
    padding-top: 6px;
    padding-left: 10px;
}

.hdrImages {
    height: 57px;
    width: 57px;
    border-radius: 29px;
}

.hdrImages2, .hdrImages3 {
    height: 50%;
    float: right;
    margin-top: 15px;
}

#myPhoto, #myLI, #myGH {
    height: 54px;
    background-color: #04181c;
    margin-top: -20px;
}

#myLI {
    width: 14px;
    margin-left: 40px;
}

#myGH {
    width: 14px;
    margin-left: 20px;
}

.bHdg {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#box4, #box5, #box6 {
    padding-right: 0px;
    padding-top: 16px;
    font-size: 20px;
    cursor: pointer;
}

#box6 {
    text-align: center;
}

#box2, #box3, #box4, #box5, #box6 {
    border-top: 2px solid #ddd;
}

#box2, #box7 {
    border-left: 2px solid #ddd;
}

#box6, #box7 {
    border-right: 2px solid #ddd;
}

#box7 {
    height: auto;
    border-bottom: 2px solid #ddd;
    padding-top: 0px;
    padding-left: 10px;
    text-align: left;
}

@media (max-width: 768px) {  
  .hdrImages2, .hdrImages3 {
    float: right;
    margin-top: 17px;
  }
  #myLI {
    width: 14px;
    margin-left: 35px;
  }
  #myGH {
    width: 14px;
  }
}

#box13 {
    height: auto;
    background-color: #737e80;
    margin-top: 30px;
    margin-bottom: 5px;
    border-top: 5px solid #737e80;
}

.projBox {
    position: relative;
    z-index: 1;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #e36a12;
    text-align: center;
    background-color: #737e80;
}

#box14t16, #box14ex, #box15ex, #box16ex {
    width: 100%;
    height: auto;
}

#box14, #box15, #box16 {
    height: auto;
    padding-left: 3px;
    padding-top: 3px;
    border-top: 2px solid #737e80;
}

#box17t19, #box17ex, #box18ex, #box19ex {
    width: 100%;
    height: auto;
}

#box17, #box18, #box19 {
    height: auto;
    padding-left: 3px;
    padding-top: 3px;
    border-bottom: 2px solid #737e80;
}

#box14, #box17 {
    border-left: 2px solid #737e80;
}

#box15, #box16, #box18, #box19 {
    float: left;
}

#box16, #box19 {
    clear: right;
}

.projImages {
    width: 100%;
}

.dataPage {
    height: auto;
    background-color: #e36a12;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #ddd;
    text-align: left;
    padding-left: 10px;
}

#b14Title, #b15Title, #b16Title, #b17Title, #b18Title, #b19Title, {
    font-size: 20px;
}

[id*="Link"] {
    font-family: "Poiret One", cursive;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    padding-top: 3px;
}

[id*="Lynk"] {
    box-sizing: border-box;
    font-family: "Poiret One", cursive;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    padding-left: 10px;
    text-align: center;
    background-color: #ddd;
    /*margin-left: 3px !important;*/
}

[id*="Lynk"]:hover {
    color: #ad0cad;
    text-decoration-color: #ad0cad;
    cursor: pointer;
}

b6Lynk2:hover {
    color: #ad0cad;
    text-decoration-color: #ad0cad;
}

a:link {
    color: #000;
    text-decoration-color: #000;
}

a:hover {
    color: #ad0cad;
    text-decoration-color: #ad0cad;
    cursor: pointer;
}

a:visited {
    color: #7c5252;
    text-decoration-color: #7c5252;
}

.ftrBox {
    height: 25px;
    font-family: "Poiret One", cursive;
    font-size: 12px;
    font-style: italic;
    color: #e36a12;
    text-align: center;
    padding-top: 5px;
    background-color: #04181c;
}

.testItemBox {
    display: none;
    position: fixed;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 24px;
    top: 69px;
    left: 2%;
    width: 96%;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 40px;
    overflow-y: auto;
    height: 550px;
    background-color: #e36a12 !important;
    border-radius: 5px;
    border: 5px solid #ddd;
    opacity: 1,0;
    z-index: 8;
    margin: 0 auto 0 auto;
}

.textBG {
    background-color: #e36a12 !important;
    padding-top: 55px;
    margin-right: -3px;
    margin-top: -16px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.textBGsub {
    background-color: #e36a12 !important;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: -3px;
    margin-top: -25px;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
}

.closeWin {
    box-sizing: border-box;
    width: 150px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    text-align: center;
    color: #ddd;
    background-color: #04181c;
    margin: 25px auto 15px auto; 
    border: 2px solid #ddd;
}

.formbox {
    position: fixed;
    display: none;
    width: 100%;
    top: 25px;
    /*left: 35%;*/
    z-index: 10;
    margin: 0 auto 0 auto;
    text-align: center;
}

#messPar {
    margin: 60px auto 0 auto;
}

.button {
    border-radius: 15px;
    background-color: #04181c;
    color: #e36a12;
    font-weight: 500;
    font-family: 'Encode Sans Semi Condensed';
    border: 2px solid #04181c;
    float: right;
    margin-right: 45px;
}
