#box1 {
    height: auto;
}

#box3 {
    text-align: left;
    padding-left: 10px;
}

#box3, #box4, #box5 {
    border-right: 2px solid #ddd;
}

#box4, #box5, #box6 {
    border-left: 2px solid #ddd;
}

/*#box13 {
    margin-top: 40px;
}*/

#box14, #box17 {
    border-left: 0px solid #04181c; 
}

#box16, #box18 {
    clear: left;
}

.projBox {
    width: 50%;
    width: 100%;
}